<div hidden id="content-post">
  <div class="flex one" style="padding: 5px;">
    <div style="position: relative;"><a class="cancel-button">X</a></div>
    <div><img id="post-img" src=""></div>
    <div><h2 id="post-title"></h2></div>
    <table>
      <tr><td><label id="post-status"></label></td></tr>  
      <tr><td><label id="post-item"></label></td></tr>  
      <tr><td><label id="post-author"></label></td></tr>  
      <tr><td><p style="margin: 0; font-size: 8;" id="post-date"></p></td></tr>  
    </table>
    {{!-- <div></div>
    <div><label id="post-item"></label></div>
    <div>
      <label id="post-author"></label>
      
    </div> --}}
    <div>
      <button id="edit-button" class="edit-button">Edit post</button>
      <a id="post-link" href="" target="_blank">See more</a>
    </div>
  </div>
</div>