<footer id="footer" class="level">
    <div class="level-left">
        <div class="level-item field is-grouped">
            <a href="about" class="button is-text">
                <span class="icon is-small">
                    <i class="fas fa-info"></i>
                </span>
                <span>About</span>
            </a>
            <a href="contact" class="button is-text">
                <span class="icon is-small">
                    <i class="fas fa-phone"></i>
                </span>
                <span>Contact</span>
                <span class="icon is-small">
                    <i class="fas fa-paper-plane"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Lost Reports</p>
                <p class="title">3,456</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Found Reports</p>
                <p class="title">123</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Returned</p>
                <p class="title">456K</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
            </div>
        </div>
    </div>
</footer>