<!doctype html>
<html lang="en">

<head>
    <title>SFU Lost and Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../css/generated/layout.css">
    {{> head}}
</head>

<body>
    {{> navbar}}
    <main>
        {{> content}}
    </main>
</body>

</html>