<script src="../js/navbar.js"></script>
<nav role="navigation" aria-label="main navigation">
    <a class="brand" href="/">
        <img class="logo" src="../images/SFU_block_colour_rgb.png">
    </a>
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">&#8801;</label>

    <div class="menu">
        <a href="map">
            <span class="fas fa-map-marked-alt"></span>
            Map</a>
        <a href="account">
            <span class="fas fa-user"></span>
            Account
        </a>
        <a href="about">
            <span class="fas fa-info"></span>
            About
        </a>
        <a href="contact">
            <span class="fas fa-paper-plane"></span>
            Contact
        </a>
        <a class="button logout" href="logout" id="logout">
            <span class="fas fa-sign-out-alt"></span>
            Logout
        </a>
    </div>
</nav>