{{#> layout}}
{{#*inline "head"}}
<link rel="stylesheet" href="/css/about.css">
{{/inline}}

{{#*inline "content"}}
<section class="flex" id="aboutpage">

    <article class="card">
        <header>
            <h3>Intro and Motivation</h3>
        </header>
        <p>
            For this project we propose an SFU-focused webservice to facilitate the return of lost belongings found on
            campus. A common experience of many SFU students is either losing an item or finding an item at school. The
            common response is to post about it on social media, whether it be on one of the many SFU related Facebook
            groups, a
            hopeful tweet to
            your followers, or to simply ask around. Seasoned students, however, know that social media blasts often are not
            effective and just result in comments suggesting “give it to security”. There are several problems with this,
            such as not
            being in the same social networks, not using social media at all, or circumventing the lost and found system
            altogether and going straight to security. To solve these problems, we want to build an SFU purpose-built
            webservice to connect
            finders, losers, and the 3 Campus Security desks.
        </p>
        
    </article>
    <article class="card">
        <header>
            <h3>ConSFUsion</h3>
        </header>
        <ul>
            <li>SFU Security maintains a database of lost and found items, but it is only for Burnaby campus.</li>
            <li>You can visit the security desk, but only at Surrey and Vancouver campus.
                <ul>
                    <li>Burnaby asks you to call before emailing</li>
                    <li>Vancouver doesn’t mind either option, but calls go to security and emails go to Facilities
                        Services.</li>
                    <li>Vancouver campus consists of multiple buildings, many with their own security desk.</li>
                </ul>
            </li>
        </ul>
        <p>
            We want our project to change this mess of touchpoints and unify the school’s process for lost and found
            items.
        </p>
    </article>
</section>
{{/inline}}
{{/layout}}