{{#> layout}}
{{#*inline "head"}}
<link rel="stylesheet" href="../css/info.css">
{{/inline}}

{{#*inline "content"}}
<div class="flex full two-600 grow">
  <aside class="card quarter">
    <h2>Contact Information</h2>
    <a href="https://www.sfu.ca/srs/campus-safety-security/public-safety/lost-found.html" class="button">
      Visit SFU Security
    </a>
  </aside>
  <div class="card">
    <img src="/images/burnaby.jpg">
    <header>
      <h3>Burnaby</h3>
    </header>
    <p>
      Call the information kiosk at <a href="tel:+17787825451">778-782-5451</a>.
      A Student Safety Engagement Program (SSEP) member can search their database or log your item. If you
      receive no answer, inquiries can be emailed to <a href="mailto:scsp@sfu.ca">scsp@sfu.ca</a>.</p>
  </div>
  <div class="card">
    <img src="/images/surrey.jpg">
    <header>
      <h3>Surrey</h3>
    </header>
    <p>Visit the security desk located in the Mezzanine (SRYC) to report lost items.</br>
      If off campus, call <a href="tel:+17787827070">778-782-7070</a>.</p>
  </div>
  <div class="card">
    <img src="/images/vancouver.jpg">
    <header>
      <h3>Vancouver</h3>
    </header>
    <p>Visit or call the security desk in your building or contact Facilities via
      <a href="mailto:fsvhelp@sfu.ca">fsvhelp@sfu.ca</a>.
      <ul>
        <li>Harbour Centre/Charles Chang Innovation Centre
          <ul>
            <li><a href="tel:+17787825029">778-782-5029</a></li>
          </ul>
        </li>
        <li>Segal Graduate School of Business
          <ul>
            <li><a href="tel:+17787827911">778-782-7911</a></li>
          </ul>
        </li>
        <li>Morris J Wosk Centre for Dialogue
          <ul>
            <li><a href="tel:+17787827944">778-782-7944</a></li>
          </ul>
        </li>
        <li>Goldcorp Centre for the Arts
          <ul>
            <li><a href="tel:+17787825749">778-782-5749</a></li>
          </ul>
        </li>
      </ul>
    </p>
  </div>
</div>
{{/inline}}
{{/layout}}