{{#> layout}}
  {{#*inline "head"}}
  {{!-- Put your scripts, CSS, etc. here --}}
  {{/inline}}

  {{#*inline "content"}}
    My Content
    <span>Here is more content</span>
    <h4>Here is additional content</h4>
  {{/inline}}
{{/layout}}